@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url(https://fr.allfont.net/allfont.css?fonts=noto-sans);


:root {
    --font-color : #000000 ;
    --gray: #41444B;
    --secondary-color: #E3E0CF;
    --tercary-color: #C5D5CB;

    --title-font: 'Sue Ellen Francisco';
    --title-H : 'Noto Sans', arial;

    --title-size-big : 70px;
    --title-size-h1 : 36px;
    --title-size-h2: 24px;

}

body{
    background: rgb(227,224,207);
    background: linear-gradient(90deg, rgba(227,224,207,1) 4%, rgba(255,255,255,1) 100%);
}
.main-title{
    font-family: var(--title-font);
    font-size: var(--title-size-big);
    background: var(--secondary-color);
    height: 70vh;
    box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.5);
}
.liens-color{
    color: var(--gray);
}
.liens-color:hover{
    color: var(--gray);
}
.liens{
    transform: scale(1);
    transition: linear 0.2s;
}
.liens:hover{
    color: var(--gray);
    transform: scale(1.1);
    transition: linear 0.2s;
}
h1{
    font-family: var(--title-H);
}
.jumbotron{
    background: rgb(227,224,207);
    background: linear-gradient(90deg, rgba(227,224,207,1) 4%, rgba(255,255,255,1) 100%);
}


