
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class=" mt-5 main-title border-dark border rounded">
        <div class="">
            <h1>Votre Espace Administrateur</h1>
            <div class="container">
                {% for livre in livres %}
                <div class="row card">
                    <div class="col-3"> {{ livre.auteur }}</div>
                    <div class="col-3"> {{ livre.titre }}</div>
                    <div class="col-3"> {{ livre.disponible}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
