<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta charset="UTF-8">
		<meta name="Mediathèque" content="Site de la médiathèque de la Chapelle-Curreaux"/>
		<meta name="author" content="Grisoni Dominique"/>
		<meta name="robots" content="index"/>
		<title>
			{% block title %}
				Bienvenue sur la Médiathèque de la Chapelle-Curreaux
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
												           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
		{% endblock %}
		{% block javascripts %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
