{% extends 'base.html.twig' %}

{% block title %}Catalogue | Médiathèque{% endblock %}

{% block body %}
    <div class="container-md">
     {% for livre in livres %}
        <p>{{ livre.titre }}</p>
        <p>{{ livre.description }}</p>
        <p>{{ livre.dateparution|date('d-m-y') }}</p>
        <p>{{ livre.auteur }}</p>
        <p>{{ livre.disponible }}</p>
        <p>{{ livre.genre }}</p>
     {% endfor %}
    </div>
{% endblock %}
